/*Global CSS.*/

* {
  margin: 0px;
}

@font-face {
    font-family: Constantia;
    src: url(/Fonts/Constantia-Font/Constantia\ Font.ttf);
  }

.lessonsPage {
  display: block;
}

#checkoutList {
  display: none;
}

.pageTitle {
  position: absolute;
  top: 30px;
  left: 45%;
  transform: translate(0%, -50%);
}

.pageTitle h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: Constantia, Georgia, "Times New Roman", Times, serif;
}

#shoppingCart button {
  position: absolute;
  top: 20px;
  right: 20px;
}

#lessonsList {
  margin-top: 100px;
  margin-left: 100px;
}
