<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="CSS/Stylesheet.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="app">
      <div class="pageTitle">
        <header>
          <h1><span v-text="sitename"></span></h1>
        </header>
      </div>
      <div id="shoppingCart">
        <button @click="displayCart" v-if="cartNotEmpty()">
          Items in cart: <span v-text="cart.length"></span>
        </button>
        <button disabled="disabled" v-else>Items in cart: <span v-text="cart.length"></button>
      </div>
      <div id="lessonsList" v-for="(lesson, index) in lessons" :key="index">
        <h2><span v-text="lesson.title"></span></h2>
        <h3><span v-text="lesson.classType"></span></h3>
        <img
          v-bind:src="lesson.image"
          v-bind:alt="lesson.imageAlt"
        />
        <p><span v-text="lesson.location"></span></p>
        <p>£<span v-text="lesson.price"></span></p>
        <p>
          Spaces available: <span v-text="lesson.spaces"></span>
        </p>
        <button @click="addToCart(lesson.id)" v-if="canAddToCart(lesson.id)">
          Add to cart
        </button>
        <button disabled="disabled" v-else>Add to cart</button>
      </div>
      <div v-for="lesson in sortedLessons"></div>
    </div>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script type="text/javascript" src="JavaScript/Products.js"></script>
  </body>
</html>
